thead{
    background-color: red;
    color: white;
  th{  
    padding: 15px;
    margin: 10px;
  }
}
td{
    padding: 15px;
    background: yellowgreen;
    
}
input{
  margin-left: 850px;
  padding:10px;
  
}
div{
  margin: 20px;
}