<div class="container">
    <div class=" form-group m-5">
        <label>Id</label>
        <input type="text" class="form-control" value="{{currentuser.id}}"/>
       <label>Username</label>
       <input type="text" class="form-control" value="{{currentuser.username}}"/>
       <label>Email</label>
       <input type="email" class="form-control" value="{{currentuser.email}}"/>
       <label>Address</label>
       <input type="text" class="form-control" value="{{currentuser.address.city}}"/>
       <label>Phone</label>
       <input type="text" class="form-control" value="{{currentuser.phone}}"/>
       <div>
           <button class="btn btn-sm btn-info mt-2">submit</button>
       </div>
    </div>
</div>