.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: yellow;
    min-height: 50px;
    max-height: 50px;
    margin-top: 10px;
   
}
a{
    text-decoration: none;
    font-size: 20px;
    
}
#aaa{
    margin: 0px 30px;
}
#bbb{
    margin-right: 30px;
}