.card{
   
    border: 1px solid red;
    
    margin-top: 30px;
    width: 250px;
    height: 300px;
    
    
}
.card-header{
    border-bottom: 1px solid green;
    padding: 20px 0px;
    background-color: blue;
    
}
.body{
    display: flex;
    justify-content:center;
    text-align: center;
}
