<div class="body">
    <div class="card">
        <div class="card-header">
            VBM INFO TECH
        </div>
        <div class="card-body">
            <h3 class="card-text">
            A paragraph is a series of related sentences developing a central idea,
                 called the topic. Try to think about paragraphs in terms of thematic unity:
                  a paragraph is a sentence or a group of sentences that supports one central, unified idea.
                  broader argument.</h3>
            
        </div>
    </div>
</div>