
button{
    padding: 10px;
    
}
#aaa{
    color: white;
    background-color: green;
    margin-right: 20px;
    border-radius: 30px;
    font-size: 15px;
}
#bbb{
    color: white;
    background-color:red;
    border-radius: 30px;
    font-size: 15px;
}
div{
    padding: 40px;
}