<div>
    <label><h2>Id:</h2></label>
    <input type="text" value="{{currentusers.id}}" />

    <label><h2>Name:</h2></label>
    <input type="text" value="{{currentusers.name}}"/>

    <label><h2>Username:</h2></label>
    <input type="text" value="{{currentusers.username}}"/>

    <label><h2>Email:</h2></label>
    <input type="email" value="{{currentusers.email}}"/>

    <label><h2>Address:</h2></label>
    <input type="text" value="{{currentusers.address.city}}"/>

    <label><h2>Phone:</h2></label>
    <input type="text" value="{{currentusers.phone}}"/>
</div>
<div>
    <button id="aaa">submit</button>
    <button id="bbb">cancel</button>
</div>