<div class="form">
    <div class="abc">
       <label>
           <h2>Id:</h2>
        </label>
       <input type="text"  value="{{currentuser.id}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Name:</h2>
        </label>
        <input type="text"  value="{{currentuser.name}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Username:</h2>
        </label>
        <input type="text"  value="{{currentuser.username}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Email:</h2>
        </label>
        <input type="email" value="{{currentuser.email}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Adderss:</h2>
        </label>
        <input type="text"  value="{{currentuser.address.city}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Phone:</h2>
        </label>
        <input type="text"  value="{{currentuser.phone}}"/>
    </div>
</div>
