<div class="aaa">
<small>Main</small>
<div class="bbb">
  <div>
    <a routerLink="/table" routerLinkActive="active">Dashboard</a>
  </div>
  <div class="my-4">
      <a routerLink="/page" routerLinkActive="active">Pages</a>
  </div>
  <div>
      <a routerLink="/profile" routerLinkActive="active">Auth</a>
  </div>
  <div class="my-4">Layouts</div>
  <div>Documentation</div>
</div>
 <small>Components</small>
<div class="bbb">
  <div>UI Elements</div>
  <div class="my-4">Charts</div>
  <div>Forms</div>
  <div class="my-4">Tables</div>
  <div>Icons</div>
  <div class="my-4">Calender</div>
  <div>Maps</div>
</div>
</div>
