.card{
    width: 25%;
    color: white;
    padding: 10px;
    margin: 20px;
    background-color: blueviolet;
    border-radius: 20px;
   
}
.aaa,img{
    display: flex;
    justify-content: center;
    border-radius: 30px;
}