<div class="container d-flex justify-content-center mt-5">
    <div class="card form-group">
       <h3 class="aaa">Login</h3>
       <div class="aaa">
            <img src="https://web.whatsapp.com/pp?e=https%3A%2F%2Fpps.whatsapp.net%2Fv%2Ft61.24694-24%2F60897596_865038493839445_3228894711632625664_n.jpg%3Foe%3D5DE0DC6A%26oh%3D0f6ad4d288cfb62412da54b69ea71813&t=l&u=919642648488-1560099935%40g.us&i=1560172425" width="90" height="70"/>
       </div>
       <label>Username</label>
       <input type="text" class="form-control" [(ngModel)]="username"/>
       <label>password</label>
       <input type="password" class="form-control" [(ngModel)]="password"/>
       <div>
           <button class="btn btn-sm btn-success mt-2" (click)="validate()"  >submit</button>
           <button class="btn btn-sm btn-danger ml-2 mt-2 btn-close">cancel</button>
       </div>
    </div>
</div>