<div class="navbar-container">
    <li>
    <a [routerLink]="['/home']" [routerLinkActive]="'active'">Home</a>
    </li>
    <li>
    <a  [routerLink]="['/services']" [routerLinkActive]="'active'">Services</a>
    </li>
    <li>
    <a  [routerLink]="['/about']" [routerLinkActive]="'active'">About</a>
    </li>
    <li>
    <a  [routerLink]="['/colleges']" [routerLinkActive]="'active'">Colleges</a>
    </li>
    <li>
    <a  [routerLink]="['/bags']" [routerLinkActive]="'active'">Bags</a>
    </li>
    <li>
    <a  [routerLink]="['/phones']" [routerLinkActive]="'active'">Phones</a>
    </li>
</div>