.footer-container{
    background-color:yellow;
    position: fixed;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
}
h2{
    text-transform: uppercase;
    color: white;
}