.aaa{
    background-color: green;
    color: white;
    display: flex;
    justify-content: space-evenly;
    font-size: 20px;
    padding: 20px;
}
li{
    list-style: none;
    font-size: 20px;
    margin-top: 20px;
}
.table{
    display: flex;
    justify-content: space-evenly;
}
.bbb,.ccc{
    padding: 0px 40px;
}
