.head{
    height: 50px;
    width: 100hw;
}
.col-md-2{
    justify-content: space-between;
    display: flex;
    padding-top: 10px;
}
img{
    border-radius: 30px;
}
.offset-6{
    padding-top: 10px;
}
