img{
    border-radius: 60px;
}
span{
    background-color: lightseagreen;
    color: white;
    border-radius:4px ;
    font-size: 13px;
    padding: 3px;
}
p{
    border: 1px solid wheat;
    font-size: 12px;
}
.aaa{
   
    border: 1px solid black;
    border-radius: 5px!important;
}
.bor{
    border-top: 1px solid wheat;
    border-bottom: 1px solid wheat;
    padding: 15px 0px;
}