<div class="form">
    <div class="abc">
       <label>
           <h2>Id:</h2>
        </label>
       <input type="text"  value="{{currentusers.id}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Name:</h2>
        </label>
        <input type="text" value="{{currentusers.name}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Username:</h2>
        </label>
        <input type="text"  value="{{currentusers.username}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Email:</h2>
        </label>
        <input type="email"  value="{{currentusers.email}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Adderss:</h2>
        </label>
        <input type="text"  value="{{currentusers.address.city}}"/>
    </div>
    <div class="abc">
        <label>
            <h2>Phone:</h2>
        </label>
        <input type="text" value="{{currentusers.phone}}"/>
    </div>
</div>
