.header{
    display: flex;
    background-color:yellowgreen;
    color: white;
    justify-content: space-between;
    padding: 0px 10px;
    align-items: center;
    
}
img{
    border-radius: 20px;
}