.img{
    text-align: center;
    margin-top: 40px;
}
.ppp{
    font-size: 18px;
    margin:0px 120px;
}
.abc{
    margin: 0px 100px;
}
.bor,.bor1,.bor2{
    border-bottom: 1px solid wheat;
}
.borb,.borb1,.borb2{
    margin-bottom: 30px;
}

.cart,.card{
    display: flex;
    justify-content: space-between;
    
}
#bbb{
    background-color: grey;
    border-radius:30px ;
    color: white;
    padding: 5px 10px;
    text-align: center;
}
.ccc{
    background-color: rgba(212, 206, 206, 0.199);
    color: green;
}
#xyz{
    margin: 0px 13px;
}
